* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: black;
}
button {
  cursor: pointer;
}
.agr {
  position: absolute;
  top: 0;
}
.a {
  bottom: 0;
  height: 100vh;
  font-size: 10rem;
  cursor: pointer;
}
.a,
.agr {
  position: absolute;
  right: 0;
  left: 0;
  border: none;
  background: #0d0d0c;
  color: #737373;
}
.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.calc {
  width: 550px;
  margin: 5% auto;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 7rem);

  gap: 2px;
  justify-content: center;
  align-items: end;

  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.result {
  display: flex;
  flex-direction: row-reverse;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 5rem;
  margin: 0 65px 0 10px;
}

.item {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;

  width: 95%;
  height: 95%;
  margin: 10px;
  font-size: 3.5rem;
  border-radius: 100%;
  border: none;
}

.right-side {
  background-color: #f69906;
  color: white;
  transition: 0.2s;
}
.up-side {
  background-color: #a0a0a0;
  transition: 0.2s;
}
.main-side {
  background-color: #313131;
  color: white;
  transition: 0.2s;
}
.zero {
  grid-column: span 2;
  width: 95%;
  border-radius: 5rem;
  justify-content: flex-start;
  padding-left: 18%;
}

.right-side:active {
  background-color: #fbc78d;
}
.up-side:active {
  background-color: #d9d9d9;
}
.main-side:active {
  background: #737373;
}

 @media only screen and (max-width: 531px) {
    .btns {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 24.7%);
    }

    .result {
      font-size: 2.5rem;
      width: 90%;
      height: 7vh;
      margin: 0 0 20px 0;
    }
    .item {
      font-size: 2rem;
    }
    .calc {
      width: 90%;
    }
  }* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: black;
  }
  button {
    cursor: pointer;
  }
  .agr {
    position: absolute;
    top: 0;
  }
  .a {
    bottom: 0;
    height: 100vh;
    font-size: 10rem;
    cursor: pointer;
  }
  .a,
  .agr {
    position: absolute;
    right: 0;
    left: 0;
    border: none;
    background: #0d0d0c;
    color: #737373;
  }
  .main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  .calc {
    width: 550px;
    margin: 5% auto;
  }
  
  .btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 7.641rem);
  
    gap: 2px;
    justify-content: center;
    align-items: end;
  
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  
  .result {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    font-size: 5rem;
    margin: 0 65px 0 10px;
  }
  
  .item {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
  
    width: 95%;
    height: 95%;
    margin: 10px;
    font-size: 3.5rem;
    border-radius: 100%;
    border: none;
  }
  
  .right-side {
    background-color: #f69906;
    color: white;
    transition: 0.2s;
  }
  .up-side {
    background-color: #a0a0a0;
    transition: 0.2s;
  }
  .main-side {
    background-color: #313131;
    color: white;
    transition: 0.2s;
  }
  .zero {
    grid-column: span 2;
    width: 95%;
    border-radius: 5rem;
    justify-content: flex-start;
    padding-left: 18%;
  }
  
  .right-side:active {
    background-color: #fbc78d;
  }
  .up-side:active {
    background-color: #d9d9d9;
  }
  .main-side:active {
    background: #737373;
  }
  
    @media only screen and (max-height: 900px) {
      .btns {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 30%);
      }
      .result {
        font-size: 4rem;
        width: 88.4%;
        height: 12vh;

      }
      .item {
        font-size: 2.1rem;
        width: 95%;
        height: 95%;
      }
      .calc {
        width: 30%;
        margin: 3% auto;
      }
     
    }

    @media only screen and (max-width: 531px) {
      .btns {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 24.7%);
      }
  
      .result {
        font-size: 3rem;
        width: 88.4%;
        height: 10vh;

      }
      .item {
        font-size: 2.1rem;
        width: 95%;
        height: 95%;
      }
      .calc {
        width: 90%;
        margin: 3% auto;
      }
    }